<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".viewProfile.View.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".login.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".addProperty.view.addPropertyPhotos"
            android:exported="false" />
        <activity
            android:name=".lstcitas.view.ListaCitasActivity"
            android:exported="false" />
        <activity
            android:name=".lowActivities.AddInterestedClient"
            android:exported="false" />
        <activity
            android:name=".lowActivities.EditarActivity"
            android:exported="false" />
        <activity
            android:name=".lstPropAlquiladas.view.LstAlquiladasActivity"
            android:exported="false" />
        <activity
            android:name=".verDetalles.view.VerDetallesActivity"
            android:exported="false" />
        <activity
            android:name=".addProperty.view.addPropertyActivity2"
            android:exported="false" />
        <activity
            android:name=".addProperty.view.addPropertyActivity"
            android:exported="false" />
        <activity
            android:name=".listadoProp.view.LstPropActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>